@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;1,300&display=swap');

*{
    font-family: 'Karla', sans-serif;
    margin: 0;
}


#home{
    background-image: url(images/pexels-jot-2179483.jpg);
    background-size: cover;
    padding-bottom: 15px;
}


.navigation{
    display: flex;
    justify-content: flex-end;
}

.navItem{
    list-style: none;
    font-weight: 600;
}

.navItem a{
    color: #ffffff;
    transition: all ease 0.3s;
}

.navItem:hover a{
    color: #EC7063;
}

#banner{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bannerImage{
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

#btnContact{
    height: 50px;
    width: 215px;
    background-color: #35c8f9;
    border: 0;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 15px 0 15px 0;
}



#aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EC7063;
    text-align: center;
    color: white;
    padding: 15px 0 15px 0;
}

#aboutMe p{
}

#projects{
    text-align: center;
    padding: 15px 0 15px 0;
}

.projectTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectTitle h2{
    color: #EC7063;
}

.projectTitle h3{
    color: #9b9b9b;
}

.imgProjects{
    display: flex;
    justify-content: space-between;
}

.imgProjects img{
    cursor: pointer;
}

.box{
    width: 400px;
    height: 244.55px;
    position: relative;
    overflow: hidden;
}

.box img{
    width: 100%;
    width: 100%;
}

.layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000050;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transform: scale(0);
    transition: ease 0.3s;
}

.box:hover .layer{
    transform: scale(1);
    cursor: pointer;
}

#contact{
    background-color: #455a64;
    text-align: center;
    color: white;
    padding: 15px 0 15px 0;
}

.contactHeaders{
    margin-bottom: 15px;
}

.topRow{
}

.bottomRow{
    justify-content: center;
}

.topRow input{
    background-color: transparent;
    border: 0;
    border-bottom: solid 2px #37474f;
}

.bottomRow textarea{
    background-color: transparent;
    border: 0;
    border-bottom: solid 2px #37474f;
}

input, textarea{
    color: white;
    font-size: 18px;
    padding: 2px 4px 2px;
}


#btnSend{
    border: 0;
    margin-top: 3%;
    height: 50px;
    width: 215px;
    background-color: #ec7063;
    font-size: 22px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px 0 15px 0;
}

footer{
    background-color: #37474f;
    color: white;
    text-align: center; 
    padding: 15px 0 15px 0;
}

.icons{
    margin-top: 24px;
}

.icons a{
    margin: 0 24px 0 24px;
    color: white;
    font-size: 30px;
}

.nav-link{
    color: #35c8f9 !important;
}

