@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

*{
    margin: 0;
    font-family: Montserrat, sans-serif;
}

h2{
    font-size: 24px;
    font-weight: 600;
}

h3{
    font-size: 18px;
    font-weight: 400;
    margin: 8px 0;
}

#home{
    height: 70vh;
    width: 100%;
    background-image: url(images/pexels-jot-2179483.jpg);
    background-size: cover;
}


.navigation{
    height: 10vh;
    display: flex;
    justify-content: flex-end;
}

.navItem{
    list-style: none;
    font-weight: 600;
}

.navItem a{
    color: #ffffff;
    transition: all ease 0.3s;
}

.navItem:hover a{
    color: #EC7063;
}

.list{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-around;
}

#banner{
    height: 60vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bannerImage{
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

#btnContact{
    height: 50px;
    width: 215px;
    background-color: #35c8f9;
    border: 0;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



#aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: #EC7063;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    color: white;
}

#aboutMe p{
    margin-top: 10px;
}

#projects{
    padding-top: 8%;
    text-align: center;
}

.projectTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectTitle h2{
    color: #EC7063;
}

.projectTitle h3{
    color: #9b9b9b;
    margin: 8px 0;
}

.imgProjects{
    display: flex;
    padding: 0 5% 0 5%;
    justify-content: space-between;
}

.imgProjects img{
    width: 400px;
    height: auto;
    cursor: pointer;
}

.box{
    width: 400px;
    height: 244.55px;
    position: relative;
    overflow: hidden;
}

.box img{
    width: 100%;
    width: 100%;
}

.layer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000050;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transform: scale(0);
    transition: ease 0.3s;
}

.box:hover .layer{
    transform: scale(1);
    cursor: pointer;
}

#contact{
    margin-top: 8%;
    background-color: #455a64;
    text-align: center;
    color: white;
    padding: 5% 10%;
}

.contactSubheader{
    margin-top: 8px 0;
}

.topRow{
    margin: 2% 0 3% 0;
}

.topRow input{
    background-color: transparent;
    border: 0;
    border-bottom: solid 2px #37474f;
}

.bottomRow textarea{
    background-color: transparent;
    border: 0;
    border-bottom: solid 2px #37474f;
}

input, textarea{
    color: white;
    font-size: 18px;
    padding: 2px 4px 2px;
}

#btnSend{
    border: 0;
    margin-top: 3%;
    height: 50px;
    width: 215px;
    background-color: #ec7063;
    font-size: 22px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

footer{
    background-color: #37474f;
    color: white;
    text-align: center;
    padding: 5% 10%;
}

.icons{
    margin-top: 24px;
}

.icons a{
    margin: 0 24px 0 24px;
    color: white;
    font-size: 30px;
}